table.candidate-list {
    border: solid 2px #e4e4e4;
    background: #f8f8f8;
    width: 98%;
    margin: 10px;
    height: auto;
    padding: 10px;
    align-self: center;
}


tr {
    height: 25px;
    width: 100%;
}

th.party {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}

th button {
    font-size: 14px;
    background: #694cac;
    border: solid 2px #5533a3;
    font-weight: bold;
    padding: 4px 10px;
    opacity: 1;
}

th button.remove {
    background: rgb(219, 37, 37);
    border: solid 2px rgb(143, 6, 6);
}

tbody tr:not(:hover) th button {
    opacity: 0.1;
}

th > .initial {
    width: 25px;
    height: 25px;
    color: white;
    margin: 0px 5px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #27272733;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.overlay > .overlay-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 500px;
    height: auto;
    min-height: 300px;
    background-color: #fff;
}

input, select {
    font-size: 20px;
    padding: 5px;
}

label {
    margin-top: 20px;
}

.overlay button {
    align-self: center;
    margin-top: 40px;
}

.hidden {
    display: none;
    user-select: none;
}

.overlay span.material-icons {
    margin-bottom: 10px;
    text-align: right;
}